@import url("https://fonts.googleapis.com/css?family=Lora");

* {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lora", serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.2vw;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h1 {
    padding-bottom: 30px;
    padding-left: 0.5em;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 0.5em;
}

h2 {
    font-size: 2.8vw;
    padding-bottom: 15px;
    text-transform: uppercase;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background: #030f12;
    color: white;
    width: 100%;
    max-height: max-content;
    min-height: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    text-transform: uppercase;
    z-index: 1;
}

.logo-section {
    width: 12%;
    margin-left: initial;
}

.site-logo {
    margin-left: 0.8em;
    max-width: 60%;
}

.navigation-bar {
    width: 70%;
    flex-grow: 2%;
    margin-inline-end: initial;
}

a {
    color: gray;
    text-decoration: none;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px;
    padding-top: 1em;
    width: 100%;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10% 0;
}

section div {
    width: 50%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
}

.cover-sect {
    margin-top: 0px;
    padding: 5% 0;
    /* background-opacity: 0.5; */
}

.title-text {
    width: 40%;
    text-align: center;
    color: black;
    margin: auto;
    padding: 0 20px;
    animation: fade-in;
    animation-duration: 8s;
}

.story-sect {
    display: flex;
    flex-direction: row-reverse;
    background-color: #030f12;
    color: #fff;
}

.box-feature {
    width: 60%;
    max-height: auto;
}

.box-feature img {
    width: 100%;
}

.box-feature .cover-image {
    animation: fade-in;
    animation-duration: 5s;
}

.section-text h2 {
    text-align: center;
}

.section-text p {
    text-align: justify;
    margin: auto 2.5em;
    line-height: 1.8em;
}

.samples {
    flex-direction: column;
    text-align: center;
}

.featured {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 5%;
    margin: 20px auto;
}

.cont {
    width: 100%;
    color: black;
}

.cont img {
    max-width: 100%;
    max-height: auto;
}

#video {
    max-width: -webkit-fill-available;
}

.contact-section {
    background: #030f12;
    color: #fff;
}

.contact-section p {
    padding-right: 2em;
    padding-left: 3em;
}

.form-box {
    padding-top: 1em;
}

form .form-entry {
    display: block;
    padding: 0.8em 0;
}

form .txt-box {
    margin-top: 0.3em;
    width: 100%;
    padding: 0.7em 0;
    border-radius: 2px;
    border: 2px transparent;
}

form .btn {
    text-align: center;
    background-color: #e6e8e8;
    color: #000;
    font-weight: 700;
    letter-spacing: inherit;
    border: 2px solid #eaeaea;
    box-shadow: 0px 0px 10px 1px #29393e;
    border-radius: 2px;
    padding: 0.7em;
}

.btn:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: row-reverse;
    height: 5em;
    width: 100%;
    color: #fff;
    background-color: #1d2c2f;
    text-transform: uppercase;
}

.footer-section div {
    margin-right: 2em;
}

.footer-section span {
    text-align: center;
    margin-left: 2em;
}

.footer-section .personal-info {
    margin-left: 15em;
}